<table id="books-table" cellspacing=0px>
  <thead>
    <th ><a href="" name='name' class="sorting" >Name</a></th>
    <th><a href="" name='authors.name' class="sorting" >Author</th>
    <th><a href="" name='subjects.name' class="sorting" >Subject</th>
    <th><a href="" name='languages.name' class="sorting" >Language</th>
    <th><a href="" name='quantity' class="sorting" >Quantity</th>
  </thead>
  <tbody>

  </tbody>
  <tfoot>
    <th></th>
    <th>
      <select name="author_id" class="filter">
        <%= options_for_select [""] + @authors %>
      </select>
    </th>

    <th>
      <select name="subject_id" class="filter">
        <%= options_for_select [""] + @subjects %>
      </select>
    </th>

    <th>
      <select name="language_id" class="filter">
        <%= options_for_select [""] + @languages %>
      </select>
    </th>
    <th></th>
  </tfoot>
</table>





<div id="pagination-summary"></div>

<script id="rowTemplate" type='template'>
  <tr>
    <td>{{= name }}</td>
    <td>{{= author.name }}</td>
    <td>{{= subject.name }}</td>
    <td>{{= language.name }}</td>
    <td>{{= quantity }}</td>
  </tr>
</script>

<script>
  ResourceTable.FilterTemplate = "filter[{{=key }}]";

  _.templateSettings = {
      interpolate: /\{\{\=(.+?)\}\}/g,
      evaluate: /\{\{(.+?)\}\}/g
  };

  var compiled = _.template($("#rowTemplate").html());

  $("table").resourceTable( { 
    url: "http://localhost:3000/books", 
    renderDataCallBack: function(results) { 
      $("tbody").empty();
      _.each(results.data, function(row) { $("tbody").append(compiled(row)) });
    },
    paginationElement: $("#pagination-summary"),
    sortElements: $(".sorting"),
    filterElements: $(".filter")
  });

  $("table").resourceTable("load");
  // $(".filter").change(function(){
  //   var element = $(this);
  //   var key = element.attr("name");
  //   var filter = {}
  //   filter[key] = element.val();
  //   $("table").resourceTable("filter", filter );
  //   return false;
  // });

</script>




