<h2>Books</h2>

<table>
  <thead>
    <th ><a href="" name='name' class="sorting" >Name</a></th>
    <th><a href="" name='author' class="sorting" >Author</th>
    <th><a href="" name='subject' class="sorting" >Subject</th>
    <th><a href="" name='quantity' class="sorting" >Quantity</th>
  </thead>
  <tbody>

  </tbody>
</table>

<select name="author" class="filter">
  <%= options_for_select [""] + @authors %>
</select>

<select name="subject" class="filter">
  <%= options_for_select [""] + @subjects %>
</select>

<div id="pagination-summary"></div>

<script id="rowTemplate" type='template'>
  <tr>
    <td>{{ name }}</td>
    <td>{{ author }}</td>
    <td>{{ subject }}</td>
    <td>{{ quantity }}</td>
  </tr>
</script>

<script>
  var compiled = _.template($("#rowTemplate").html());

  $("table").resourceTable( { 
    url: "http://localhost:3000/books", 
    renderDataCallBack: function(data) { 
      $("tbody").empty();
      _.each(data, function(row) { $("tbody").append(compiled(row)) });
    },
    paginationElement: $("#pagination-summary"),
    sortElements: $(".sorting"),
    filterElements: $(".filter")
  });

  // $(".filter").change(function(){
  //   var element = $(this);
  //   var key = element.attr("name");
  //   var filter = {}
  //   filter[key] = element.val();
  //   $("table").resourceTable("filter", filter );
  //   return false;
  // });

</script>




