// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#books-table { font-family: Arial; font-size: 12px; width: 100%;}

#books-table td.name, #books-table th.name { width: 400px; white-space: nowrap; display: inline-block; overflow: hidden;	}
#pagination-summary { float: right; }

#pagination-summary a, #pagination-summary span { margin-right: 3px;}

#pagination-summary a:visited { color: blue; }




