<div id="filters">
  <div>
    <label for="author_id">Name</label>
    <select id="author_id" name="author_id" class="filter" >
          <%= options_for_select [""] + @authors %>
    </select>
  </div>
  <div>
    <label for="subject_id">Subject</label>
    <select multiple name="subject_id" class="filter" style="width:350px;">
      <%= options_for_select [""] + @subjects %>
    </select>
  </div>
  <div>
    <label for="language_id">Language</label>
    <select name="language_id" class="filter">
      <%= options_for_select [""] + @languages, ["en", 1]%>
    </select>
  </div>
</div>

<table id="books-table" cellspacing=0px>
  <thead>
    <th ><a href="" name='name' class="name sorting" >Name</a></th>
    <th><a href="" name='authors.name' class="sorting" >Author</th>
    <th><a href="" name='subjects.name' class="sorting" >Subject</th>
    <th><a href="" name='languages.name' class="sorting" >Language</th>
    <th><a href="" name='quantity' class="sorting" >Quantity</th>
  </thead>
  <tbody>

  </tbody>
  
</table>





<div id="pagination-summary"></div>

<script id="rowTemplate" type='template'>
  <tr>
    <td class="name">{{= name }}</td>
    <td>{{= author.name }}</td>
    <td>{{= subject.name }}</td>
    <td>{{= language.name }}</td>
    <td>{{= quantity }}</td>
  </tr>
</script>

<script>
  ResourceTable.FilterTemplate = "filter[{{=key }}]";

  _.templateSettings = {
      interpolate: /\{\{\=(.+?)\}\}/g,
      evaluate: /\{\{(.+?)\}\}/g
  };

  var compiled = _.template($("#rowTemplate").html());

  $("table").resourceTable( { 
    url: "http://localhost:3000/books", 
    renderDataCallBack: function(results) { 
      $("tbody").empty();
      _.each(results.data, function(row) { $("tbody").append(compiled(row)) });
    },
    paginationElement: $("#pagination-summary"),
    sortElements: $(".sorting"),
    filterElements: $(".filter"),
    defaultSort: {key: "subjects.name", direction: "ascending"}
  });

  $("table").resourceTable("load");
  $("select").chosen({allow_single_deselect:true});
  

</script>




