// Place all the styles related to the books controll, #filterser here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#books-table, #pagination-summary, #filters { font-family: Arial; font-size: 12px; }

#books-table { width: 100%;}

#books-table td.name, #books-table th.name { width: 400px; white-space: nowrap; display: inline-block; overflow: hidden;	}
#pagination-summary { float: right; }

#pagination-summary a, #pagination-summary span { margin-right: 3px;}

#pagination-summary a:visited { color: blue; }

#filters > div { float: left; margin-right: 20px; }
#filters label { display:block;}
.chzn-container {
	font-size: 11px;
}




